html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

/* hero image on mobile */
#mobile-img {
    display: flex;
    padding-top: 3em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -7em;
    filter: drop-shadow(0 8mm hsl(260, 9%, 94%));
}

/* hero image on desktop */
#desktop-img {
    display: none;
    margin: auto;
}

/* box image on desktop */
#box {
    display: none;
}

main {
    margin: auto;
    background-color: #FFFFFF;
    padding: 5em 2em 3em 2em;
    width: 75%;
    border-radius: 22px;
    box-shadow: 0 20px 21px hsl(263, 41%, 40%);
}

/* faq */
h1 {
    text-align: center;
    font-weight: 700;
    padding-top: 1.5em;
    font-size: 30px;
}

/* dividers between the dropdowns */
hr {
    border: 1px solid hsl(240, 5%, 91%);
    margin: 1.5em 0 1.5em 0;
}

/* the dropdown questions */
.question {
    padding: 1.5em 0 1em 0;
    text-align: left;
    display: inline;
    color: #1E1F36;
    font-size: 14px;
    line-height: 14.08px;
}
.question:hover {
    color: #F47B56;
    cursor: pointer;
}

/* answers inside drop-down */
.answer {
    display: none;
    margin: 1em 0 1.5em 0;
    line-height: 18px;
    color: #787887;
}

/* the dropdown arrows */
.drop-btn {
    cursor: pointer;
    float: right;
}

.attribution {
    display: none;
}


/* desktop view - 1440px */
@media screen and (min-width: 476px){
    body {
        padding: 0;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
    main {
        margin: 6em auto auto auto;
        padding: 0 0 3em 0;
        font-size: 16px;
        width: 68%;
        display: flex;
        flex-direction: row;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -4300% 69%;
        overflow: hidden;
        z-index: -1;
    }
    #mobile-img {
        display: none;
    }
    #desktop-img {
        display: block;
        margin-top: 6em;
        margin-left: -5em;
        padding: 0;
        position: absolute;
        z-index: 0;
    }
    #box{
        display: flex;
        position: absolute;
        top: 42%;
        left: 8.5em;
    }
    #text {
        width: 45%;
        margin-left: 26.5em;
    }
    h1 {
        text-align: left;
        font-size: 40px;
    }
}