html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

/* hero image on mobile */
#mobile-img {
    display: flex;
    padding-top: 3em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -7em;
    filter: drop-shadow(0 8mm hsl(260, 9%, 94%));
}

/* hero image on desktop */
#desktop-img {
    display: none;
    margin: auto;
}

main {
    margin: auto;
    background-color: #FFFFFF;
    padding: 5em 2em 3em 2em;
    width: 70%;
    border-radius: 22px;
    box-shadow: 0 20px 20px hsl(263, 38%, 40%);
}

/* faq */
h1 {
    text-align: center;
    font-weight: 700;
    padding-top: 1em;
    font-size: 30px;
}

/* dividers between the dropdowns */
hr {
    border: 1px solid hsl(240, 5%, 91%);
}

/* sections containing questions, dropdown buttons, and answers */
.dropdown {

}

/* the dropdown questions */
.question {
    padding: 1em;
    font-size: 12px;
}

/* answers inside drop-down */
.answer {
    display: none;
}

/* the dropdown arrows */
.drop-btn {
    cursor: pointer;
    float: right;
}

/* the dropdown arrows - upside down */
.rotated {
    transform:rotate();
}

.attribution {
    display: none;
}